@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, MSSA Peers!</h1>
    <p>This site is a work in progress and intended to be a collaboration space among the Spring 2020 Camp Lejeune Cloud App Development Cohort for sharing tips, tricks, and learning outcomes with future students. Pull requests to update are welcome and encouraged!<p/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
